.block {
    margin: 0px;
    padding: 0px;
    border: solid rgb(205, 205, 205) 0.01px;
    background-color: white;
    /* height: 81.5px;
    width: 81.5px; */
}

body {
    margin: 2px;
}

#parent{
    display: grid;
    /* justify-content: center; */
    height: 500px;
    width: 500px;
    /* border: solid black 1px; */
    padding: 0px;
    grid-template-columns: auto auto auto;
}

#parent-container{
    border: solid black 1px;
    padding: 15px;
    background-color: rgb(38, 129, 139);
}

.color{
    background-color: rgb(106, 240, 133);
}

#main{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.container{
    margin: 20px;
    display: flex;
    align-items: center;
}